<div (keyup)="onKeyUp($event)"
     style="width: 600px; height: 600px; background-image: url('../../../assets/images/portland_background.jpg');" tabindex="0">
  <div [style.left.px]="playerPosition.leftPosition"
       [style.top.px]="playerPosition.topPosition" style="width: 60px; height: 60px; position: absolute; background-image: url('../../../assets/images/agent.png');"></div>
  <div *ngFor="let e of enemies" style="width: 550px; height: 600px; position: absolute;">
    <div [style.left.px]="e.leftPosition" [style.top.px]="e.topPosition" class="enemy"></div>
  </div>
  <div *ngFor="let m of missiles" style="width: 600px; height: 550px; position: absolute;">
    <div [style.left.px]="m.leftPosition" [style.top.px]="m.topPosition" class="missile"></div>
  </div>
</div>
