<mat-grid-list cols="5" rowHeight="1:2">
  <mat-grid-tile *ngFor="let person of people">
    <mat-card style="width: 225px; height: 550px;">
      <mat-card-header>
        <mat-card-title>{{person.name}}</mat-card-title>
        <mat-card-subtitle>{{person.classStanding}}</mat-card-subtitle>
      </mat-card-header>

      <img [src]="person.imageUrl" alt="Picture of {{person.name}}" mat-card-image>
      <mat-card-content>{{person.mainContent}}</mat-card-content>
      <mat-card-actions>
        <!-- Brings up contact info (email) -->
        <button (click)="openEmail(person.emailAddress)" color="primary" mat-flat-button>Contact</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
