table {
  margin: 0 auto;
}

mat-card-header {
  margin: 0 auto;
}

img {
  width: 175px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button {
  display: block;
  margin: 0 auto;
  position: center;
  bottom: 10px;
}
