<table>
<mat-card class="about">
  <mat-card-header>
    
    <mat-card-title>Alex Hadi</mat-card-title>
    <mat-card-subtitle>Junior</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://snworksceo.imgix.net/upb/73dc0357-66f3-4e3e-b281-3a46f443cb13.sized-1000x1000.jpg?w=1000" alt="Photo of a Alex">
  <mat-card-content>

    <p>
      Alex Hadi wants to teach you about angular. He really enjoys doing all of all the sprints, and wants to become a usain bolt type sprinter. 
    </p>
  </mat-card-content>
  <mat-card-actions>
    
  <button mat-flat-button color="primary" onclick="location.href='mailto:hadi20@up.edu';" >Contact</button>
  
  
    <!-- Should bring up contact info... phone number/email-->
  </mat-card-actions>
</mat-card>
<br> 
<td>
<!-- Adam's contact info -->

<mat-card class="about">
  <mat-card-header>
    <mat-card-title>Adam Mercer</mat-card-title>
    <mat-card-subtitle>Junior</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://scontent-sea1-1.xx.fbcdn.net/v/t31.0-8/457532_394178290606002_1224340605_o.jpg?_nc_cat=110&_nc_oc=AQnOzlxjN8ofapcaNaz48mBNxLY3NZU6wl44hZwX1PLQsVu6cBSq-Vh64nw8amkwvEjTAV6jfyw8lAOYOhKFfp3B&_nc_ht=scontent-sea1-1.xx&oh=f302913e34bae498dabf2703da704ef4&oe=5D1F27F5" alt="Photo of a Adam">
  <mat-card-content>
    <p>
      Is really good at finding problems... not solving them. 
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button color="primary" onclick="location.href='mailto:mercer20@up.edu';" >Contact</button>
    <!-- Should bring up contact info... phone number/email-->
  </mat-card-actions>
</mat-card>
</td>

<td>
<!-- Adam's contact info -->

<mat-card class="about">
  <mat-card-header>
    <mat-card-title>Pele Kamala</mat-card-title>
    <mat-card-subtitle>Sophmore</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://scontent-sea1-1.xx.fbcdn.net/v/t1.0-9/150915_460863310642599_1851682370_n.jpg?_nc_cat=101&_nc_oc=AQnrBkPff7Fb2-hpmg53iJWS13_5_i177p6Vnk27C1O_xL0XgWEQ65ERYA14WjmGinNdSyDaV1M8zhwGO855EdUl&_nc_ht=scontent-sea1-1.xx&oh=a0a2ce8b488178c987965fb1e18c2e77&oe=5CF22592" alt="Photo of a Pele">
  <mat-card-content>
    <p>
      Is very eager to work on SQL with Alex
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button color="primary" onclick="location.href='mailto:kamala21@up.edu';" >Contact</button>
    <!-- Should bring up contact info... phone number/email-->
  </mat-card-actions>
</mat-card>
</td>
<td>
<!-- Adam's contact info -->

<mat-card class="about">
  <mat-card-header>
    <mat-card-title>Callum Morham</mat-card-title>
    <mat-card-subtitle>Junior</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://scontent-sea1-1.xx.fbcdn.net/v/t1.0-1/c29.26.329.329a/149287_1498656460142_6023878_n.jpg?_nc_cat=107&_nc_oc=AQlyD99oN10regTotwhpByWVF9T-YBLQ5R4ZQY6c5KrxhLEpNyNe5HQCiXfpKWhi2oc&_nc_ht=scontent-sea1-1.xx&oh=354889d5c5067d4209d64137524984f9&oe=5CDA56A0" alt="Photo of a Callum">
  <mat-card-content>
    <p>
      Is the embodiment of larry the lobster
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button color="primary" onclick="location.href='mailto:morham20@up.edu';" >Contact</button>
    <!-- Should bring up contact info... phone number/email-->
  </mat-card-actions>
</mat-card>
</td>
<td>
<!-- Adam's contact info -->

<mat-card class="about">
  <mat-card-header>
    <mat-card-title>Chris Sebrechts</mat-card-title>
    <mat-card-subtitle>Junior</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://scontent-sea1-1.xx.fbcdn.net/v/t31.0-8/12792194_615659345251779_5289235053319529786_o.jpg?_nc_cat=102&_nc_oc=AQlbOHdcoSpjaGKbLTrUPAp0mFRqemMjbRK5Tww5aMsFFsi_KktBDAV8oG4IX6DKkYIqUNlNz5K4H9gqeQMzyt7_&_nc_ht=scontent-sea1-1.xx&oh=f5b3038d2923b12118f472609533e45b&oe=5CF0FE20" alt="Photo of a Chris">
  <mat-card-content>
    <p>
     Does not like algorithms
    </p>
  </mat-card-content>
  <mat-card-actions>
   <button mat-flat-button color="primary" onclick="location.href='mailto:sebrecht20@up.edu';" >Contact</button>
    <!-- Should bring up contact info... phone number/email-->
  </mat-card-actions>
</mat-card>
</td>
</table>
