<!-- The basic HTML for the web app's homepage. -->
<h1>Portland Traffic Reform</h1>

<mat-card id="container" class="mat-elevation-z4">
  <form class="formContainer">
    <mat-form-field>
      <mat-select #areaSelector placeholder="Filter Portland Area">
        <mat-option *ngFor="let area of objectKeys(areas)" [value]="area">{{area}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select #yearSelector placeholder="Filter Year">
        <mat-option *ngFor="let year of years" [value]="year">{{year}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select #vehicleSelector placeholder="Filter Vehicle Type">
        <mat-option *ngFor="let vehicle of vehicleTypes" [value]="vehicle">{{vehicle}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select #densitySelector placeholder="Filter Traffic Density">
        <mat-option *ngFor="let density of objectKeys(densities)" [value]="density">{{density}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button id="resetButton" mat-raised-button color="warn" (click)="setFilterDefaultsAndUpdateMap()">Clear Filters</button>
    <button mat-raised-button color="primary" (click)="updateMap()">Filter Data</button>
  </form>

  <div id="map" class="mat-elevation-z4" leaflet
      (leafletMapReady)="onMapReady($event)" [leafletOptions]="leafletOptions">
  </div>
</mat-card>
