mat-card {
  width: 61em;
  margin: 10px auto 20px auto;
}

mat-tab-group {
  width: 20em;
  float: left;
}

.toggles {
  pointer-events: none;
}

.formContainer {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
}

.formContainer > * {
  width: 100%;
}

.keyImage {
  width: 18.5em;
  height: 2em;
  margin-left: 1em;
  margin-top: 0.5em;
}

.toggleContainer {
  width: 50%;
}
