<!-- The basic HTML for the web app's homepage. -->
<h1>Portland Traffic Reform</h1>

<h4><u>Traffic Data by Region</u></h4>

<mat-form-field>
  <mat-select #areaSelector placeholder="Select Portland Area">
    <mat-option *ngFor="let area of areas" [value]="area">{{area.name}}</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-select #yearSelector placeholder="Select Year">
    <mat-option *ngFor="let year of years" [value]="year">{{year}}</mat-option>
  </mat-select>
</mat-form-field>

<button (click)="loadData()">Load Data!</button>

<mat-card>{{selectedMessage}}</mat-card>

<div id="map"
     leaflet
     (leafletMapReady)="onMapReady($event)"
     [leafletOptions]="options">
</div>
