<!-- The basic HTML for the web app's homepage. -->
<h1>Portland Traffic Reform</h1>

<!-- This imports the image that is to be posted into the html -->
<img src="http://mediad.publicbroadcasting.net/p/wyprmain/files/201712/heavy-traffic-highway-cars.jpg" alt="traffic" height="300">

<h4><u>Traffic Data by Region and Year</u></h4>

<mat-form-field>
  <mat-select #areaSelector placeholder="Select Portland Area">
    <mat-option *ngFor="let area of areas" [value]="area">{{area}}</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-select #yearSelector placeholder="Select Year">
    <mat-option *ngFor="let year of years" [value]="year">{{year}}</mat-option>
  </mat-select>
</mat-form-field>

<button (click)="loadData()">Load Data!</button>

<mat-card>{{selectedMessage}}</mat-card>
