<mat-card class="mat-elevation-z4" [hidden]="loggedIn">
  <mat-tab-group dynamicHeight>
    <mat-tab label="LOGIN">
      <form class="formContainer" (ngSubmit)="login()" [formGroup]="loginForm">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <label>
            <input matInput placeholder="Enter Email" formControlName="email" required>
          </label>
          <mat-error>{{getFormError(loginControls.email)}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <label>
            <input type="password" matInput placeholder="Enter Password" formControlName="password" required>
          </label>
          <mat-error>{{getFormError(loginControls.password)}}</mat-error>
        </mat-form-field>
        <button [disabled]="!loginForm.valid" mat-raised-button color="primary" type="submit">Login!</button>
      </form>
    </mat-tab>

    <mat-tab label="SIGN UP">
      <form class="formContainer" (ngSubmit)="signUp()" [formGroup]="signupForm">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <label>
            <input matInput placeholder="Enter Email" formControlName="email" required>
          </label>
          <mat-error>{{getFormError(signupControls.email)}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <label>
            <input type="password" matInput placeholder="Enter Password" formControlName="password" required>
          </label>
          <mat-error>{{getFormError(signupControls.password)}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <label>
            <input type="password" matInput placeholder="Confirm Password" formControlName="confirmPassword" required>
          </label>
          <mat-error>{{getFormError(signupControls.confirmPassword)}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-select placeholder="Security Question" formControlName="questionRequire" required>
            <mat-option *ngFor="let question of SECURITY_QUESTIONS" [value]="question">{{question}}</mat-option>
          </mat-select>
          <mat-error>{{getFormError(signupControls.questionRequire)}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Answer</mat-label>
          <label>
            <input matInput placeholder="Answer" formControlName="answerRequire" required>
          </label>
          <mat-error>{{getFormError(signupControls.answerRequire)}}</mat-error>
        </mat-form-field>

        <mat-error *ngIf="signupForm.hasError('mismatchedPasswords')">Passwords must match!</mat-error>

        <button [disabled]="!signupForm.valid" mat-raised-button color="primary" type="submit">Sign Up!</button>
      </form>
    </mat-tab>

    <mat-tab label="RESET PASSWORD">
      <form class="formContainer" [formGroup]="resetForm">
        <mat-form-field appearance="outline" [hidden]="passwordResetInProgress">
          <mat-label>Email</mat-label>
          <label>
            <input matInput placeholder="Enter Email" formControlName="emailReset" required>
          </label>
          <mat-error>{{getFormError(resetControls.emailReset)}}</mat-error>
        </mat-form-field>

        <h5 [hidden]="!passwordResetInProgress">{{resetQuestionTextContent}}</h5>
        <mat-form-field appearance="outline" [hidden]="!passwordResetInProgress">
          <mat-label>Answer</mat-label>
          <label>
            <input matInput placeholder="Enter Answer" formControlName="answerReset" required>
          </label>
          <mat-error>{{getFormError(resetControls.answerReset)}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" [hidden]="!passwordResetInProgress">
          <mat-label>New Password</mat-label>
          <label>
            <input type="password" matInput placeholder="Enter New Password" formControlName="passwordReset" required>
          </label>
          <mat-error>{{getFormError(resetControls.passwordReset)}}</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="!resetForm.valid"
                [hidden]="!passwordResetInProgress" (click)="validateEnteredSecurityAnswer()">Reset Password
        </button>
        <button mat-raised-button color="primary" [disabled]="!resetControls.emailReset.valid"
                [hidden]="passwordResetInProgress" (click)="promptUserWithSecurityQuestion()">Continue
        </button>
      </form>
    </mat-tab>
  </mat-tab-group>
</mat-card>

<mat-card class="mat-elevation-z4" [hidden]="!loggedIn">
  <form class="formContainer">
    <button mat-raised-button color="primary" type="submit" (click)="logout()">Logout!</button>
    <h5 style="margin-top: 0.3em; text-align: left;">Saved Addresses</h5>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let save of savedData">
        <mat-expansion-panel-header>
          <mat-panel-title>{{save.address}}</mat-panel-title>
        </mat-expansion-panel-header>
        <ul style="float: left; text-align: left;">
          <li>{{save.level}}</li>
          <li>{{save.volume}}</li>
        </ul>
        <mat-action-row>
          <button mat-button color="warn" (click)="removeSave(save.address)">Remove</button>
          <button mat-button color="primary" (click)="viewOnMap(save.address)">View on map</button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </form>
</mat-card>
