<mat-card [hidden]="loggedIn" class="mat-elevation-z4">
  <mat-tab-group dynamicHeight>
    <mat-tab label="LOGIN">
      <form (ngSubmit)="login()" [formGroup]="loginForm" class="formContainer">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <label>
            <input formControlName="email" matInput placeholder="Enter Email" required>
          </label>
          <mat-error>{{getFormError(loginControls.email)}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <label>
            <input formControlName="password" matInput placeholder="Enter Password" required type="password">
          </label>
          <mat-error>{{getFormError(loginControls.password)}}</mat-error>
        </mat-form-field>
        <button [disabled]="!loginForm.valid" color="primary" mat-raised-button type="submit">Login!</button>
      </form>
    </mat-tab>

    <mat-tab label="SIGN UP">
      <form (ngSubmit)="signUp()" [formGroup]="signupForm" class="formContainer">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <label>
            <input formControlName="email" matInput placeholder="Enter Email" required>
          </label>
          <mat-error>{{getFormError(signupControls.email)}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <label>
            <input formControlName="password" matInput placeholder="Enter Password" required type="password">
          </label>
          <mat-error>{{getFormError(signupControls.password)}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <label>
            <input formControlName="confirmPassword" matInput placeholder="Confirm Password" required type="password">
          </label>
          <mat-error>{{getFormError(signupControls.confirmPassword)}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-select formControlName="questionRequire" placeholder="Security Question" required>
            <mat-option *ngFor="let question of SECURITY_QUESTIONS" [value]="question">{{question}}</mat-option>
          </mat-select>
          <mat-error>{{getFormError(signupControls.questionRequire)}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Answer</mat-label>
          <label>
            <input formControlName="answerRequire" matInput placeholder="Answer" required>
          </label>
          <mat-error>{{getFormError(signupControls.answerRequire)}}</mat-error>
        </mat-form-field>

        <mat-error *ngIf="signupForm.hasError('mismatchedPasswords')">Passwords must match!</mat-error>

        <button [disabled]="!signupForm.valid" color="primary" mat-raised-button type="submit">Sign Up!</button>
      </form>
    </mat-tab>

    <mat-tab label="RESET PASSWORD">
      <form [formGroup]="resetForm" class="formContainer">
        <mat-form-field [hidden]="passwordResetInProgress" appearance="outline">
          <mat-label>Email</mat-label>
          <label>
            <input formControlName="emailReset" matInput placeholder="Enter Email" required>
          </label>
          <mat-error>{{getFormError(resetControls.emailReset)}}</mat-error>
        </mat-form-field>

        <h5 [hidden]="!passwordResetInProgress">{{resetQuestionTextContent}}</h5>
        <mat-form-field [hidden]="!passwordResetInProgress" appearance="outline">
          <mat-label>Answer</mat-label>
          <label>
            <input formControlName="answerReset" matInput placeholder="Enter Answer" required>
          </label>
          <mat-error>{{getFormError(resetControls.answerReset)}}</mat-error>
        </mat-form-field>

        <mat-form-field [hidden]="!passwordResetInProgress" appearance="outline">
          <mat-label>New Password</mat-label>
          <label>
            <input formControlName="passwordReset" matInput placeholder="Enter New Password" required type="password">
          </label>
          <mat-error>{{getFormError(resetControls.passwordReset)}}</mat-error>
        </mat-form-field>
        <button (click)="validateEnteredSecurityAnswer()" [disabled]="!resetForm.valid" [hidden]="!passwordResetInProgress" color="primary"
                mat-raised-button type="submit">Reset Password
        </button>
        <button (click)="promptUserWithSecurityQuestion()" [disabled]="!resetControls.emailReset.valid" [hidden]="passwordResetInProgress"
                color="primary" mat-raised-button>Continue
        </button>
      </form>
    </mat-tab>
  </mat-tab-group>
</mat-card>

<mat-card [hidden]="!loggedIn" class="mat-elevation-z4">
  <form class="formContainer">
    <button (click)="logout()" color="primary" mat-raised-button type="submit">Logout!</button>
    <h5 style="margin-top: 0.3em; text-align: left;">Saved Addresses</h5>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let save of savedData">
        <mat-expansion-panel-header>
          <mat-panel-title>{{save.address}}</mat-panel-title>
        </mat-expansion-panel-header>
        <ul style="float: left; text-align: left;">
          <li>{{save.level}}</li>
          <li>{{save.volume}}</li>
        </ul>
        <mat-action-row>
          <button (click)="removeSave(save.address)" color="warn" mat-button>Remove</button>
          <button (click)="viewOnMap(save.address)" color="primary" mat-button>View on map</button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </form>
</mat-card>
