mat-card {
  width: 35em;
  margin: 30px auto;
}

button {
  float: right;
  width: 100px;
}

h6 {
  float: left;
  text-align: left;
}

.formContainer {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.formContainer > * {
  width: 100%;
}
