mat-card {
  width: 850px;
  margin: 10px auto 20px auto;
}

#resetButton {
  margin-bottom: 15px;
}

#container {
  height: 540px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  float: left;
}

.formContainer > * {
  width: 100%;
}

#map {
  height: 500px;
  width: 600px;
  float: right;
}
